$font: "Space Mono";
$font-size: 13px;

$base-color: #FFF;
$accent-color: #9A82FF;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #23202C;
}

body {
  font-family: $font;
  font-size: $font-size;
  color: $base-color;
}

h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.4;
  @media screen and (min-width: 40em) {
    font-size: 30px;
    max-width: 680px;
    line-height: 1.4;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.mt {
  margin-top: 80px;
}

.mb {
  margin-bottom: 40px;
}

.container  {
  max-width: 1380px;
  width: 90%;
  margin: 0 auto;
}

.header {
  position: relative;
  padding: 70px 0;

  &__link {
    display: block;
    max-width: 50px;
    position: relative;

    &:after {
      position: absolute;
      right: -37px;
      top: 0;
      content: "Beta";
      font-size: 9px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $base-color;
      font-weight: 700;
    }
  }
  
  .btn {
    color: $base-color;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 35px;
    padding-bottom: 28px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 150px;
  text-decoration: none;
  border-radius: 100px;
  background-image: linear-gradient(120deg, $accent-color, #03A4E8);
  color: $accent-color;
  font-size: 14px;
  letter-spacing: 0.8px;
  position: relative;
  transition: box-shadow 300ms ease-in-out;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 100px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: #23202C;
    content: "";
  }

  &:hover {
    box-shadow: 0 0 35px 0px rgba($accent-color, 0.4);
  }

  > * {
    position: relative;
    z-index: 10;
  }

  path {
    fill: $accent-color;
  }

  span {
    margin-left: 10px;
  }

  &--small {
    display: inline-block;
    font-size: 12px;
    padding: 10px 15px;
    max-width: 140px;
    margin-left: 10px;

    &:before,
    &:after {
      display: none;
    }

    span {
      margin-left: 0;
    }
  }
}

.footer {
  padding: 40px 0;
  font-size: 14px;
  position: relative;
  text-align: center;

  
  &__link {
    background-image: linear-gradient(120deg, $accent-color, #03A4E8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
  }
}
